/* ------------------------------------------------------ */
/* BASIC */
/* ------------------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.vinh-container {
    width: 100%;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.vinh-outer-wrap {
    margin: 100px 0;
    overflow: hidden;
}

.vinh-button {
    display: block;
    font-size: 80%;
    width: fit-content;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    border: 2px solid;
    transition: all .5s;
}

/* ------------------------------------------------------ */
/* TOP BANNER */
/* ------------------------------------------------------ */

.vinh-free-shipping {
    padding: 12px;
    text-align: center;
    background-color: #6CB975;
    color: white;
    font-size: 90%;
    font-weight: 400;
}

.vinh-about-company .vinh-promo-pic {
    width: 100%;
    height: 100%;
}

.vinh-free-shipping-emp {
    text-transform: uppercase;
    font-weight: 500;
}

/* ------------------------------------------------------ */
/* NAVBAR */
/* ------------------------------------------------------ */

.vinh-header-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #bebebe;
}

.bi-list {
    display: none;
    cursor: pointer;
}

.vinh-icon-list li {
    display: inline-block;
}

.vinh-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #bebebe;
}

.vinh-logo {
    width: 130px;
    object-fit: contain;
    vertical-align: middle;
}

/* ------------------------------------------------------ */
/* SUB MENU */
/* ------------------------------------------------------ */

.vinh-sub-menu {
    display: inline-block;
}

.vinh-sub-menu-dropdown {
    display: none;
    width: 100vw;
    z-index: 5000;
}

.vinh-show {
    display: block;
    background-color: black;
    padding-bottom: 10px;
}

.vinh-sub-menu-dropdown ul{
    margin: 0;
    padding: 0;
}

.vinh-sub-menu-dropdown ul li {
    list-style-type: none;
}

.vinh-sub-menu-dropdown ul li a {
    display: block;
    background-color: black;
    width: 100vw;
    text-decoration: none;
    padding: 20px 0 20px 20px;
    color: white !important;
    transition: background-color .4s, color .4s;
    text-transform: uppercase;
}

.vinh-sub-menu-dropdown ul li a:hover {
    background-color: white;
    color: black !important
}

.vinh-sub-menu-dropdown ul li:last-child {
    display: grid;
    grid-template-columns: 75% 25%;
    margin: 0 20px 30px 20px;
}

.vinh-sub-menu-search {
    padding: 10px;
}

.vinh-search-button {
    position: relative;
    background-color: #FFC400;
    outline: none;
    border: none;
    cursor: pointer;
}

/* ------------------------------------------------------ */
/* NAVBAR MENU */
/* ------------------------------------------------------ */

.vinh-menu {
    justify-self: center;
    position: relative;
}

.vinh-menu ul li {
    padding: 30px 20px;
    text-transform: uppercase;
}

.vinh-menu-list li {
    display: inline-block;
}

.vinh-drop-down:first-child a {
    color: #6CB975;
}

.vinh-inner-container ul li a{
    text-decoration: none;
    color: black;
}

.vinh-inner-container:last-child ul li {
    padding: 5px;
}

/* ------------------------------------------------------ */
/* NAVBAR MENU DROPDOWN */
/* ------------------------------------------------------ */

.vinh-drop-down-content {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 85px;
    z-index: 100;
    background-color: white;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #f1f1f1;
}

.vinh-drop-down-item span {
    font-size: 200%;
    color: white;
}

.vinh-drop-down-item ul li {
    display: block;
    padding: 2px 0;
    font-size: 90%;
}

/* ------------------------------------------------------ */
/* NAVBAR MENU FURNITURE + BRAND */
/* ------------------------------------------------------ */

.vinh-drop-down:hover .vinh-furniture,
.vinh-drop-down:hover .vinh-brand {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 0 30px 40px 30px;
}

.vinh-furniture img,
.vinh-brand img {
    width: 100%;
}

.vinh-furniture h3 {
    text-transform: none;
    margin-bottom: 10px;
    font-weight: 400;
}

.vinh-furniture,
.vinh-brand {
    width: 70vw;
    height: 30vw;
    overflow-y: scroll;
    overflow-x: hidden;
    left: 50%;
    transform: translate(-50%);
}

/* ------------------------------------------------------ */
/* NAVBAR MENU BRAND */
/* ------------------------------------------------------ */

.vinh-drop-down:hover .vinh-brand {
    grid-template-rows: 1fr 1fr;
}

.vinh-brand .vinh-drop-down-item {
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.vinh-brand .vinh-drop-down-item:nth-child(1) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://furnihaus.kaththemes.com/demo/wp-content/uploads/2018/05/livingroom.jpg);
}

.vinh-brand .vinh-drop-down-item:nth-child(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://furnihaus.kaththemes.com/demo/wp-content/uploads/2018/05/dinning.jpg);
}

.vinh-brand .vinh-drop-down-item:nth-child(3) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://furnihaus.kaththemes.com/demo/wp-content/uploads/2018/05/bedroom.jpg);
}

.vinh-brand .vinh-drop-down-item:nth-child(4) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://furnihaus.kaththemes.com/demo/wp-content/uploads/2018/05/livingroom.jpg);
}

.vinh-brand .vinh-drop-down-item:nth-child(5) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://furnihaus.kaththemes.com/demo/wp-content/uploads/2018/05/dinning.jpg);
}

.vinh-brand .vinh-drop-down-item:nth-child(6) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://furnihaus.kaththemes.com/demo/wp-content/uploads/2018/05/bedroom.jpg);
}

.vinh-brand .vinh-drop-down-item:nth-child(1):hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(https://furnihaus.kaththemes.com/demo/wp-content/uploads/2018/05/livingroom.jpg);
}

.vinh-brand .vinh-drop-down-item:nth-child(2):hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(https://furnihaus.kaththemes.com/demo/wp-content/uploads/2018/05/dinning.jpg);
}

.vinh-brand .vinh-drop-down-item:nth-child(3):hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(https://furnihaus.kaththemes.com/demo/wp-content/uploads/2018/05/bedroom.jpg);
}

.vinh-brand .vinh-drop-down-item:nth-child(4):hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(https://furnihaus.kaththemes.com/demo/wp-content/uploads/2018/05/livingroom.jpg);
}

.vinh-brand .vinh-drop-down-item:nth-child(5):hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(https://furnihaus.kaththemes.com/demo/wp-content/uploads/2018/05/dinning.jpg);
}

.vinh-brand .vinh-drop-down-item:nth-child(6):hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(https://furnihaus.kaththemes.com/demo/wp-content/uploads/2018/05/bedroom.jpg);
}

/* ------------------------------------------------------ */
/* NAVBAR MENU BLOG */
/* ------------------------------------------------------ */

.vinh-drop-down:hover .vinh-blog {
    display: grid;
    left: 55%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    font-size: 90%;
}

.vinh-blog .vinh-drop-down-item {
    padding: 10px 20px;
    border-bottom: 1px solid #bebebe;
    transition: background-color 0.4s, color 0.4s;
}

.vinh-blog .vinh-drop-down-item:hover {
    background-color: #ec7264;
    color: white;
}

/* ------------------------------------------------------ */
/* PROMO SLIDE */
/* ------------------------------------------------------ */

.vinh-promo-slide {
    overflow: hidden;
}

.vinh-promo-slide-wrap {
    display: block;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.vinh-header-slide {
    padding-top: 13vw;
    padding-bottom: 25vw;
    text-align: center;
}

.vinh-first-slide {
    background-image: url(https://furnihaus.kaththemes.com/demo/wp-content/uploads/revslider/home-slider1/slider-1.jpg);
}

.vinh-second-slide {
    background-image: url(https://furnihaus.kaththemes.com/demo/wp-content/uploads/revslider/home-slider1/slider-2.jpg);
}

.vinh-banner {
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Montserra';
}

.vinh-banner h1 {
    font-size: 3.25vw;
    letter-spacing: 10px;
    margin-bottom: 10px;
}

.vinh-banner p {
    font-size: 1.75vw;
    letter-spacing: 5px;
    margin-bottom: 2.5vw;
}

.vinh-banner a {
    text-decoration: none;
    color: white;
    font-size: 1vw;
    padding: 20px 60px;
    background-color: #ec7264;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.vinh-banner a:hover {
    background-color: #e85646;
}

/* ------------------------------------------------------ */
/* FOOTER */
/* ------------------------------------------------------ */

footer {
    background-color: #151514;
    color: white;
}

.vinh-container-footer {
    flex: 1;
}

.ft-social-container {
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.ft-social {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 1180px;
}

/* ------------------------------------------------------ */
/* FOOTER UPPER HALF */
/* ------------------------------------------------------ */

.ft-title {
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

.ft-main-item h3 {
    font-size: 120%;
}

.ft-main-item:last-child {
    margin-left: 70px;
}

.ft-main-item ul li {
    display: block;
    margin: 10px 0;
}

.ft-main-item ul li a {
    text-decoration: none;
    color: #ddd;
}

.ft-main-item ul li a:hover {
    color: #6CB975;
}

.vinh-newsletter {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.vinh-newsletter-input {
    padding: 10px;
    width: 100%;
}

.bi-envelope {
    font-size: 150%;
    margin-left: 18px;
    vertical-align: middle;
}

/* ------------------------------------------------------ */
/* FOOTER LOWER HALF */
/* ------------------------------------------------------ */

.vinh-info {
    padding: 70px 0;
}

.vinh-sns {
    padding: 20px 0;
    align-items: center;
}

.fab {
    position: relative;
    top: 0;
    margin-left: 5px;
    color: white;
    border: 2px solid white;
}

.fab:hover {
    top: -5px;
}

.fa-facebook-f,
.fa-tumblr {
    padding: 10px 14px;
}

.fa-twitter,
.fa-instagram {
    padding: 10px 11px;
}

/* ------------------------------------------------------ */
/* SCROLL BACK TO TOP */
/* ------------------------------------------------------ */

#hong-scroll-top-btn {
    color: #151514;
    text-align: center;
    background-color: #ffc400;
    width: 35px;
    height: 35px;
    line-height: 35px;
    z-index: 9999;
    bottom: 20px;
    right: 10px;
    position: fixed;
    display: none;
}

#hong-scroll-top-btn:hover {
    color: white;
    background-color: black;
    cursor: pointer;
    transition: all ease-in-out .3s;
}