@media (max-width: 767px) {
    body, button, input, select, textarea, code {
        font-size: 13px;
    }
    .fixed-banner {
        background-size: cover;
    }
    .cart-form {
        width: 92%;
    }
    .hong-thead {
        display: none;
    }
    .hong-tr div {
        border-bottom: 1px solid lightgrey;
        border-left: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
        padding: 5px 10px;
    }
    .hong-tr div:first-child {
        border-top: 1px solid lightgrey;
    }
    .hong-tr, .quantity, .quantity-wrap {
        border: none !important;
    }
    .cart_totals {
        padding-left: 0px;
    }
    .cart-table th {
        display: none;
    }
    .update-cart {
        margin-top: 10px;
    }
}


@media (max-width: 991px) and (min-width: 768px) {
    body, button, input, select, textarea, code {
        font-size: 16px;
    }

}