/* Same with group */

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #151514;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Common for page */

section {
    float: left;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}

.row {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
    width: 100%;
    height: auto;
}

.btn {
    background-color: #151514;
    color: white;
}

.btn:hover {
    cursor: pointer;
    background-color: #ffc400;
    transition: all ease-out 0.3s;
    color: #151514;
}

a {
    color: #666666;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    transition: all ease-out 0.3s;
    text-decoration: none;
}

/* Cart page */

a:hover {
    color: #77a464;
}

.cart-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url('imgs/6607-1.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    max-width: 1920px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat';
    letter-spacing: 3px;
}

.hong-thead {
    background-color: #151514;
    color: white;
    font-weight: 550;
    padding: 23px 5px 21px 5px;
    line-height: 1;
}

.hong-tr {
    border-bottom: 1px solid lightgrey;
    padding: 0px 5px;
    font-weight: 600;
}

.hong-tr .product-remove i {
    color: red;
}

.hong-tr .product-thumbnail img {
    width: 140px;
}

.hong-tr .product-price, .hong-tr .product-subtotal {
    font-weight: 550;
    text-shadow: 1px 1px 1px lightgrey;
}

.quantity {
    margin-bottom: 23px;
    margin-right: 4px;
}

.quantity-wrap {
    height: 40px;
}

.minus, .add {
    width: 40px;
    line-height: 20px;
    font-size: 19px;
    margin: 4px 0 0 0;
    padding: 6px 15px;
    text-align: center;
}

.minus {
    padding-left: 17px;
    padding-right: 13px;
}

.quantity input {
    width: 60px;
    padding: 10px 7px;
    margin: 0 0 10px 4px;
    text-align: center;
    line-height: 16px;
    cursor: text;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px 7px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 16px;
}

.actions {
    margin: 30px 0 60px 0;
}

#hong-apply-coupon-button,
#hong-update-cart-button {
    border: none;
    padding: 11px 0;
    font-size: 87%;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-stretch: 100%;
    min-width: 200px;
}

.cross-sells {
    position: relative;
    text-align: center;
}

.cross-sells .overlay-grey {
    position: absolute;
    top: 10%;
    left: 22%;
    background-color: lightgrey;
    opacity: 0.8;
    padding: 10px 45px;
}

.cross-sells .overlay-transparent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.cart_totals {
    float: right;
    padding-left: 60px;
}

.cart-subtotal span {
    text-shadow: 1px 1px 1px #666666;
}

.cart-table  th {
    padding-right: 30px;
    text-align: left;
}

.cart-table input, .cart-table select {
    color: #151514;
    font-size: 87%;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    width: 200px;
    height: 33px;
    line-height: 33px;
    margin: 0;
}

.shipping-calculator-form {
    /*display: none;*/

}

.hong-calculate-shipping-button {
    border: none;
    padding: 13px 15px;
    font-weight: 500;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-stretch: 100%;
    min-width: 200px;
    background-color: lightgrey;
}

.hong-calculate-shipping-button:hover {
    color: #77a464;
    border: 1px solid #77a464;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

.proceed-to-checkout {
    margin: 30px auto;
}

.checkout-button {
    border: none;
    padding: 13px 30px;
    font-weight: 500;
    font-stretch: 100%;
    min-width: 200px;
}
